PORT=3000

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=Museo

JWT_SECRET=dev_secret_museo_2026
INTERNAL_API_KEY=museo_internal_key_2026

CASSANDRA_URL=http://localhost:3002/api/auditoria
CATALOG_URL=http://localhost:3001/api/catalog
NEO4J_URL=http://localhost:3003/api/recomendaciones
